# Android Studio
alias androidstudio="open -a /Applications/Android\ Studio.app"

# React Native
alias rn="react-native"

# Xcode
alias xcode="open *.xcworkspace"

## Keytool Android
alias keytool-google="keytool -list -v -keystore"

## Disk Usage
alias doosh="du -hs"

## Git
alias gitlog="git log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative"
alias gitsa="git stash"
alias gmoff="git merge --no-ff"
alias gitlab="grep 'https' | awk '{print $2}'"

## Python
alias virtualenvwrapper="source /usr/local/bin/virtualenvwrapper.sh"
alias simplehttpserver="python -m SimpleHTTPServer"

## SpeedTest
alias speedtest="~/.local/speedtest-cli"

## Disk Usage
alias dush="du -sh"

## NPM
alias npmls="npm ls --depth=0"

## Genymotion
alias geny="open -a /Applications/Genymotion.app/Contents/MacOS/player.app --args --vm-name"

## Android
alias ains="adb install"
alias auins="adb uninstall"
alias adb-restart="adb kill-server && adb root"

## Dropbox
alias dropbox="~/Applications/bin/dropbox_uploader.sh"

## VSCode
function vscode {  
    if [[ $# = 0 ]]
    then
        open -a "Visual Studio Code"
    else
        local argPath="$1"
        [[ $1 = /* ]] && argPath="$1" || argPath="$PWD/${1#./}"
        open -a "Visual Studio Code" "$argPath"
    fi
}

# Safe-rm
alias rm="safe-rm"

# Open
alias chrome="open -a 'Google Chrome'"
