# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Esa Firman
#	email = esafirm21@gmail.com
[user]
	name = Esa Firman
	email = esafirm21@gmail.com
[merge]
[alias]
	today = log --since=midnight --author='E' --oneline
	unwatch = update-index --assume-unchanged
	unwatched = !git ls-files -v | grep "^[[:lower:]]" | cut -d' ' -f2
	watch = update-index --no-assume-unchanged
	rdate = branch --sort=-committerdate --format='%(HEAD) %(refname:short) %(color:bold red) %(authordate:relative)'

	## Add target to `git push` command
	addpush = remote set-url --add --push
	stat = diff HEAD^ --stat

	recent = !ruby $DOT/ruby/git_select.rb command:recent mode:select action:checkout
	r = recent
	
	del = !ruby $DOT/ruby/git_select.rb command:recent mode:multiselect action:delete

	## clog -> choose log
	clog = !ruby $DOT/ruby/git_select.rb command:recent mode:select action:log

	## cr -> choose rebase
	cr = !ruby $DOT/ruby/git_select.rb command:recent mode:select action:rebase
	## cm -> choose merge
	cm = !ruby $DOT/ruby/git_select.rb command:recent mode:select action:merge

[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[pull]
	rebase = false
