# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Esa Firman
#	email = esafirm21@gmail.com
[user]
	name = Esa Firman
	email = esafirm21@gmail.com
[merge]
[alias]
	today = log --since=midnight --author='E' --oneline
	unwatch = update-index --assume-unchanged
	watch = update-index --no-assume-unchanged
	recent = branch --sort=-committerdate 
	rdate = branch --sort=-committerdate --format='%(HEAD) %(refname:short) %(color:bold red) %(authordate:relative)'
	addpush = remote set-url --add --push
	stat = diff HEAD^ --stat
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
